doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title My home observer
		style
			include ../../temp/bootstrap.css
	body
		script
			include ../../temp/bundle.js
